body {
    background-color: greenyellow;
    color: pink;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

button, p, input, a {
    animation: linear infinite;
    animation-name: spin;
    animation-duration: 10s;
}

img {
    height: 100px;
    width: 145px;
}

.ExImg {
    width:200px;
    height:145px;
}

.email {
    float: right;
}

p, ul, ol {
    animation: linear infinite;
    animation-name: move;
    animation-duration: 10s;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }

}

@keyframes move {
    0% {
        transform: translate(0px);
    }
    50% {
        transform: translate(400px);
    }
    100% {
        transform: translate(0px);
    }
}