input {
  background-color: white;
  color: black;
}

body {
  background-color: #003b49;
  color: white;
  font-family:'Lucida Sans';
}

input, button, textarea {
  font-family: "Lucida Sans"
}

.email {
  float: right;
}

.html:hover, .javascript:hover, .css:hover {
  background-color: #5A5A5A;
}

.html, .css, .javascript {
  background-color: #115161;
}

.Img {
  float:right;
  width:100px;
  height:145px;
}

.ExImg {
  float:right;
  width:200px;
  height:145px;
}

a {
  color: red;
}

a:visited {
  color: purple;
}